body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  position: 100%;
  padding: 15px 30px 10px 30px;
}

.main-sec {
  min-width: 378px;
  height: auto;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  color: blue;
}

.bg {
  position: center center;
  background-image: url("images/bg-icons.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.align-top {
  padding-left: 10%;
  padding-top: 10%;
  width: 60%;
}

.my-description {
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

.social-icons {
  display: flex;
}

ul {
  list-style: none;
  padding: 0 30px 10px 0;
}

.icon {
  padding: 5px;
  width: 17px;
  height: 20px;
  color: #505f79;
}

h3 {
  color: #7f8cff;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 30px 10px 30px;
  background-color: #e5e5e5;
  width: 100%;
  min-width: fit-content;
}

.project1 {
  margin-top: 88px;
  padding: 16px;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #fff;
  align-items: center;
}

.project2 {
  margin-top: 88px;
  padding: 16px;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #fff;
}

.project3 {
  margin-top: 88px;
  padding: 16px;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #fff;
}

.project4 {
  margin-top: 88px;
  padding: 16px;
  margin-bottom: 88;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #fff;
}

.proj-title {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.list1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.parag {
  font-weight: 400;
  font-size: 15;
  color: #344563;
  line-height: 24px;
}

.proj-tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.proj-img {
  max-width: 100%;
}

.about-sect {
  width: 100%;
  background: #e5e5e5;
  background-color: #fff;
  margin: 0 30px;
}

.about {
  padding: 0 30px;
  margin-top: 88px;
}

.conn-about {
  padding: 0 30px;
}

.see_project {
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.see_project:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.about-btn {
  margin: 10px 30px;
}

.skills {
  padding: 0 30px;
}

.skill-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.skill-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-top: 8px;
}

.side-icon {
  width: 10px;
  height: 10px;
}

.headline {
  padding: 40px 30px 10px 30px;
  max-width: 600;
  min-width: fit-content;
}

footer {
  min-width: 378px;
}

.bgft {
  position: 100%;
  background-image: url("images/footer2.png"), url("images/footer1.png");
  background-position: relative, relative;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.contact-group {
  margin-top: 106px;
  padding: 16px;
  border-radius: 16px;
  min-width: fit-content;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_align {
  color: #fff;
  padding-top: 127px;
}

.pitch {
  color: #ebebff;
  width: 50%;
}

.organize_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 24;
  padding-right: 24;
}

textarea {
  height: 170px;
  color: #cfd8dc;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

input {
  height: 48px;
  border-radius: 8px;
  border: 1px solid;
  margin-left: 20px;
  margin-right: 20px;
}

button {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  background: #fff;
  padding: 20px 16px;
  align-items: left;
  margin-top: 1rem;
  margin-left: 20px;
}

.desktop-works1 {
  display: none;
}

.desk-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .project1 {
    display: flex;
    flex-direction: row;
    border: red solid;
    gap: 20px;
  }

  .list1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
  }

  .proj-tech {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }

  .project2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .project3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }

  .project4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 20px;
  }

  .about-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .skills {
    padding-top: 160px;
  }

  .skill-one {
    padding-right: 30px;
  }

  .arrange-lang {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
  }

  .arrange-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
  }

  .mobile-works1 {
    display: none;
  }

  .desktop-works1 {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .desk-nav {
    text-decoration: black;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding-left: 60%;
  }

  .img-size {
    width: 290px;
  }

  .bg {
    position: center center;
    background-repeat: no-repeat;
    background-image: url("images/desktop.png");
    background-size: cover;
  }
}
