body {
  font-family: sans-serif;
}

.header {
  position: relative;
  padding: 15px 30px 0 30px;
  display: flex;
  justify-content: space-between;
}

.bg-icons {
  position: relative;
}

.bg {
  padding: 12em;
  position: relative;
  background-image: url('images/bg-icons.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px;
}

h1 {
  font-size: 40px;
}

.my-description {
  font-size: 16px;
}

.social-icons {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

.icon {
  padding: 5px;
  font-size: 1.5rem;
}

h3 {
  color: #7f8cff;
}
