body {
  font-family: sans-serif;
}

.header {
  position: relative;
  padding: 15px 30px 0 30px;
  display: flex;
  justify-content: space-between;
}

.bg-icons {
  position: relative;
}

.bg {
  padding: 12em;
  position: relative;
  background-image: url('images/bg-icons.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px;
}

h1 {
  font-size: 40px;
}

.my-description {
  font-size: 16px;
}

.social-icons {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

.icon {
  padding: 5px;
  font-size: 1.5rem;
}

h3 {
  color: #7f8cff;
}

.works{
  display: grid;
  grid-template-columns: 1fr;
  border: blue solid;
  padding: 0 30px;
  background-color: #e5e5e5;
  max-width: 768px;
}

.project1{
  margin-top: 88px;
  padding: 16px;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #ffffff;
}

.project2{
  margin-top: 88px;
  padding: 16px;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #ffffff;
}

.project3{
  margin-top: 88px;
  padding: 16px;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #ffffff;
}

.project4{
  margin-top: 88px;
  padding: 16px;
  margin-bottom: 88;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #ffffff;
}

.proj-title{
  font-weight: 700;
  font-size: 32px;
  color:  #172b4d;
}

.list1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.parag{
  font-weight: 400;
  font-size: 15;
  color: #344563;
  line-height: 24px;
}

.proj-tech{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.proj-img{
  max-width: 100%;
}

.bg-works{
  background-image: url(images/works1.png);
  width:80%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 42%;
}

.about-sect {
  max-width: 768px;
  background: #e5e5e5;
  background-color: #fff;
  margin: 0 30px;
  border: 2px solid red;
}

.about { 
  padding: 0 30px;
  margin-top: 88px;
 }

.conn-about {
  border: 2px solid green;
  padding: 0 30px;
}

.see_project {
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
}

.see_project:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.about-btn { margin: 10px 30px; }

.skills {
  border: 2px solid yellow;
  padding: 0 30px;
}

.skill-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid red;
  align-items: center;


}

.skill-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-top: 8px;
}

.side-icon {
  width: 10px;
  height: 10px;
}