.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 327px;
  height: 146px;
  margin-top: 368px;
  margin-left: 24px;
  margin-right: 24px;
 
  }

.intro{
  width: 327px;
  height: 150px;

/* Header / 2 */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
/* or 130% */

  display: flex;
  align-items: center;

/* Neutrals/N800 */

  color: #172B4D;


/* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.content{
  width: 327px;
  height: 146px;

/* Body / 2 */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
/* or 150% */

/* Neutrals/N600 */

  color: #344563;

/* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.box2{
  color: blue;
}
.toolbar{
  display: flex;
  width: 100vh;
  flex-direction: row;
  justify-content: space-between;
}
.hlogo{
  width: 76px;
  height: 20px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  /* Primary/B400 */
  
  color: #6070FF;
   
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;

}
.icon1{
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 16.04px;
  top: 161.47px;

background: #6070FF;
transform: rotate(-156.88deg);
}
.icon2{
  position: absolute;
  width: 105px;
  height: 105px;
  left: 323px;
  top: 152.24px;  
}
.icon3{
  position: absolute;
width: 24.14px;
height: 12.07px;
left: 341.76px;
top: 546.69px;
}
.icon4{
  position: absolute;
  width: 204px;
  height: 47px;
  left: 1146px;
  top: 221px;
}
.icon5{
  position: absolute;
  width: 161.41px;
  height: 28.87px;
  left: 731.44px;
  top: 750px;

}

.social{
  width: 300px;
  height: 24px;

/* Body / 2 - Bolder */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
/* identical to box height, or 150% */

/* Primary/B300 */

  color: #7F8CFF;
}

