
.toolbar {
  display: flex;
  position: absolute;
  width: 375px;
  height: 10px;
}

.logo {
  flex-direction: row;
  padding-left: 10%;
  padding-top: 30%;
}

.menu {
  flex-direction: row;
  padding-left: 90%;
  padding-top: 30%;
}

.container {
  display: flex;
  position: absolute;
  width: 375px;
  height: 718px;
  flex-direction: column;
}

.intro {
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 170px;
  padding-bottom: 370px;
  padding-left: 8%;
  padding-right: 90%;
}

.content {
  width: 327px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 370px;
  padding-bottom: 204px;
  padding-left: 10%;
  padding-right: 90%;
}

.linked {
  width: 30px;
  height: 50px;
  position: absolute;
  padding-top: 520px;
  padding-left: 1%;
}

.twit {
  width: 30px;
  height: 50px;
  padding-top: 520px;
  padding-left: 10%;
}

.social {
  width: 300px;
  height: 50px;
  position: absolute;
  color: blue;
  padding-top: 500px;
  padding-left: 10%;
}

.bg-image1 {
  padding: 20em;
  background-image: url(images/icon1.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 14.04px;
  top: 161.47px;
}

.bg-imagea {
  padding: 20em;
  background-image: url(images/icona.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 130.04px;
  top: 148.47px;
}

.bg-imageb {
  padding: 20em;
  background-image: url(images/iconb.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 133.04px;
  top: 161.47px;
}

.bg-image2 {
  padding: 20em;
  background-image: url(images/icon2.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 10.5px;
  height: 19.25px;
  left: 300.04px;
  top: 140.47px;
}

.bg-image3 {
  padding: 20em;
  background-image: url(images/icon3.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 10.5px;
  height: 19.25px;
  left: 300.04px;
  top: 550.47px;
}

.bg-image4 {
  padding: 20em;
  background-image: url(images/icon4.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 10.5px;
  height: 19.25px;
  left: 180.04px;
  top: 670.47px;
}

.bg-image6 {
  padding: 20em;
  background-image: url(images/icon6.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 10.5px;
  height: 19.25px;
  left: 300.04px;
  top: 140.47px;
}

.bg-image7 {
  padding: 20em;
  background-image: url(images/icon7.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 10.5px;
  height: 19.25px;
  left: 220.04px;
  top: 670.47px;
}
