body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  position: 100%;
  padding: 15px 30px 10px 30px;
}

.main-sec {
  min-width: 378px;
  height: auto;
}

.mobile-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  color: blue;
}

.bg {
  position: center center;
  background-image: url("images/bg-icons.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.align-top {
  padding-left: 10%;
  padding-top: 10%;
  width: 60%;
}

.my-description {
  font-size: 16px;
  animation-duration: 3s;
  animation-name: slide_in;
  animation-direction: alternate;
}

@keyframes slide_in {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}

.connect-transition {
  transition: color;
  transition-duration: 3s;
  transition-delay: 0s;
}

.connect-transition:hover {
  color: #091e42;
}

h1 {
  font-size: 40px;
}

.social-icons {
  display: flex;
}

ul {
  list-style: none;
  padding: 0 30px 10px 0;
}

.icon {
  padding: 10px;
  width: 17px;
  height: 20px;
  color: blue;
}

h3 {
  color: #7f8cff;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 30px 10px 30px;
  background-color: #e5e5e5;
  width: 100%;
  min-width: fit-content;
}

.project1 {
  margin-top: 88px;
  padding: 16px;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #fff;
  align-items: center;
}

.project2 {
  margin-top: 88px;
  padding: 16px;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #fff;
}

.project3 {
  margin-top: 88px;
  padding: 16px;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #fff;
}

.project4 {
  margin-top: 88px;
  padding: 16px;
  margin-bottom: 88;
  border: #dfe1e6 solid;
  border-radius: 16px;
  background-color: #fff;
}

.project5 {
  display: none;
}

.project6 {
  display: none;
}

.project7 {
  display: none;
}

.proj-title {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.list1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.parag {
  font-weight: 400;
  font-size: 15;
  color: #344563;
  line-height: 24px;
}

.proj-tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

/* .proj-img {
  max-width: 100%;
} */

.about-sect {
  width: 100%;
  background: #e5e5e5;
  background-color: #fff;
  margin: 0 30px;
}

.about {
  padding: 0 30px;
  margin-top: 88px;
}

.conn-about {
  padding: 0 30px;
}

.see_project {
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
  width: auto;
  height: fit-content;
}

.see_project:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.about-btn {
  margin: 10px 30px;
}

.skills {
  padding: 0 30px;
}

.skill-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.skill-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-top: 8px;
}

.side-icon {
  width: 10px;
  height: 10px;
}

.headline {
  padding: 40px 30px 10px 30px;
  max-width: 600;
  min-width: fit-content;
}

footer {
  min-width: 378px;
  height: 100vh;
}

.bgft {
  position: center center;
  background-image: url("images/footer2.png"), url("images/footer1.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.contact-group {
  min-width: 378px;
  height: auto;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_align {
  color: #fff;
  padding-top: 127px;
}

.pitch {
  color: #ebebff;
  width: 50%;
}

.organize_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

textarea {
  height: 170px;
  color: #cfd8dc;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 50%;
}

input {
  height: 48px;
  border-radius: 8px;
  border: 1px solid;
  width: 50%;
}

.desktop-works1 {
  display: none;
}

.desk-nav {
  display: none;
}

button {
  color: #6070ff;
  width: 108px;
  height: 24px;
}

.desk-button {
  padding-left: 25%;
  padding-top: 20px;
  padding-bottom: 40px;
  text-decoration: blue;
}

@media screen and (min-width: 768px) {
  .project1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .pro-desc {
    width: 50%;
  }

  .pro-desc2_3 {
    display: block;
  }

  .list1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
  }

  .proj-tech {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }

  .project3 {
    display: none;
  }

  .project4 {
    display: none;
  }

  .project2 {
    display: none;
  }

  .project5 {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 30px;
    margin-top: 88px;
    padding: 16px;
    margin-bottom: 88;
    border: #dfe1e6 solid;
    border-radius: 16px;
    background-color: #fff;
  }

  .project6 {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    margin-top: 88px;
    padding: 16px;
    margin-bottom: 88;
    border: #dfe1e6 solid;
    border-radius: 16px;
    background-color: #fff;
  }

  .arrange-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project7 {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 30px;
    margin-top: 88px;
    padding: 16px;
    margin-bottom: 88;
    border: #dfe1e6 solid;
    border-radius: 16px;
    background-color: #fff;
  }

  .img-proj5 {
    width: 50%;
    padding-right: 10px;
  }

  .about-sect {
    display: flex;
    flex-direction: row;
  }

  .arrange-desk {
    width: 50%;
  }

  .skills {
    padding-top: 10%;
    width: 50%;
  }

  .skill-one {
    padding-right: 30px;
  }

  .arrange-lang {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    padding-top: 25px;
    gap: 10px;
  }

  .arrange-form {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
  }

  .skill-two {
    display: flex;
    flex-direction: column;
  }

  .mobile-works1 {
    display: none;
  }

  .desktop-works1 {
    display: block;
    width: 50%;
  }

  .mobile-nav {
    display: none;
  }

  .desk-nav {
    text-decoration: black;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding-left: 60%;
  }

  .img-size {
    width: 290px;
  }

  .bg {
    background-image: url("images/desktop.png");
    position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgft {
    position: center center;
    background-image: url("images/desk2.png"), url("images/contact-desk.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
  }

  input {
    height: 48px;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    width: 447px;
  }

  textarea {
    height: 170px;
    color: #cfd8dc;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    width: 447px;
  }

  button {
    color: #6070ff;
    width: 108px;
    height: 24px;
  }

  .desk-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
}
